*{
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium';
    font-weight: 400;
}
.header {
    display: flex;
    justify-content: space-between;
    height: 60px;
    background-color: #1b2530;
    color: aliceblue;
    width: 100%;
    position: static;
}
.left-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.location {
    display: flex;
}
.middle-container {
    display: flex;
    padding-top: 0.7rem;
    float: none;
    height: 60px;
    width:600px;
    height: 60px;
}
.right-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2rem;
}
img{
    width: 115px;
    padding-top: 0.7rem;
    padding-left: 1rem;
    padding-right: 2rem;
}
input {
    width:500px;
    height: 90%;
}
.search {
    
    height: 60%;
    width: 100%;
    border: 0.5rem;
}
.middle-container button {
    height: 100%;
    width: 44px;
    background-color: #fd850d;
    border-style: none;
}
.middle-container select {
    height: 100%;
    width: 44px;
    border-radius: inherit;
}
.right-container .label {
    padding-right: 3rem;
}
.right-container select {
    padding-right: 2rem;
    width: 30%;
    height: 60%;
}
.second-header {
    height: 40px;
    background-color: #425265;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    color: aliceblue;
}
.second-header a {
    padding-right:1rem ;
    padding-left: 1rem;
}
.middle-img {
    width: 100%;
    position: relative;
    bottom: 0.7rem;
    right: 1rem;
}
.middle-img img {
    width: 100%;
}
.offers {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}
.offers .home {
    background-color: rgb(206, 225, 219);
    height: 400px;
    width: 400px;
    display: block;
    padding-top: 20px;
    padding-left: 25px;
    
}
.offers .home .h2 {
    text-align: center;
}
.offers .home span {
    font-size: 10px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    padding-left: 20px;
}
.offers .home img {
    width: 35%;
    padding-top: 20px;
}
.attitude {
    font-weight: 300;
    padding-top: 30px;
    padding-left: 25px;
}
.attitude:hover {
    color: #fd850d;
}

.offers .tools {
    height: 400px;
    width: 400px;
}
.offers .travel {
    height: 400px;
    width: 400px;
}
.shopping-list {
    position: initial;
}